{% extends "base/diary_base.html" %}
{% block body %}

<div style="text-align: center; max-width: 800px; margin: 0 auto;">
    <h2>{{ page.title }}</h2>
    <div>{{ page.page_date }}</div>
    <div>{{ page.body | linebreaksbr }}</div>

    {% if page.picture %}
        <img src="{{ page.picture.url }}" alt="Page image" style="max-width: 100%; height: auto;"/>
    {% endif %}
    <br>

    <div style="margin-top: 20px;">
        <a href="{% url 'diary:page_update' page.id %}" style="text-decoration:none; margin-right: 20px;">
            <button style="background-color: green; color: white; padding: 10px 20px; border-radius: 5px;">編集</button>
        </a>
        <a href="{% url 'diary:page_delete' page.id %}" style="text-decoration:none; margin-right: 20px;">
            <button style="background-color: red; color: white; padding: 10px 20px; border-radius: 5px;">削除</button>
        </a>
        <button onclick="goBack()" style="background-color: blue; color: white; padding: 10px 20px; border-radius: 5px;">戻る</button><br><br>
        <div style="margin-top: 20px;">
            <a href="{% url 'diary:index' %}" style="background-color: purple; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none;">トップページに戻る</a>
        </div><br><br>
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>

{% endblock %}
